Repository boostcampwm2023/and07-MindSync, pull requests merged in 2023-12, with the labels that each got.

#131 소셜 로그인, Access Token 발급
  .github/workflows/BE-deploy.yml
  nestjs-BE/server/.gitignore
  nestjs-BE/server/config/env.ts
  nestjs-BE/server/package-lock.json
  nestjs-BE/server/package.json
  nestjs-BE/server/src/app.controller.ts
  nestjs-BE/server/src/app.module.ts
  nestjs-BE/server/src/auth/auth.controller.ts
  nestjs-BE/server/src/auth/auth.module.ts
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/auth/constants.ts
  nestjs-BE/server/src/auth/dto/kakao-user.dto.ts
  nestjs-BE/server/src/auth/jwt-auth.guard.ts
  nestjs-BE/server/src/auth/jwt.strategy.ts
  nestjs-BE/server/src/auth/public.decorator.ts
  nestjs-BE/server/src/main.ts
  nestjs-BE/server/src/users/users.module.ts
  nestjs-BE/server/src/users/users.service.ts
Labels: 💻BE, 💡Feature, ⚙️Setting

#129 선택한 노드와 자식 노드 움직이도록 구현
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
Labels: 📱AOS, 💡Feature

#128 보드 목록 UI 및 기본 기능 구현
  AOS/app/build.gradle.kts
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Board.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardClickListener.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListAdapter.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListBindingAdpater.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/BindingAdapter.kt
  AOS/app/src/main/res/drawable/bg_round_board.xml
  AOS/app/src/main/res/drawable/ic_add_board.xml
  AOS/app/src/main/res/layout/activity_main.xml
  AOS/app/src/main/res/layout/fragment_board_list.xml
  AOS/app/src/main/res/layout/item_board.xml
  AOS/app/src/main/res/values/strings.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#147 Hilt 버전 변경 및 누락된 어노테이션 추가
  AOS/app/build.gradle.kts
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LoginRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/mindmap/MindMapRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/profile/ProfileRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/recyclerbin/RecyclerBinRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/space/SpaceRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/AddSpaceViewModel.kt
  AOS/build.gradle.kts
Labels: 📱AOS, 💡Feature, 🔨Fix, 🎨UI

#148 프로필 UI 구현
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileActivity.kt
  AOS/app/src/main/res/layout/activity_profile.xml
  AOS/app/src/main/res/values/strings-profile.xml
Labels: 📱AOS, 🎨UI

#149 로그인 화면 구성, 구글/카카오 로그인, 서버에서 accessToken 받아오기
  AOS/app/build.gradle.kts
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/ApiModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/NetworkModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/LoginApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/MindMapSocketManager.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/JoinBoard.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/KakaoLoginRequest.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/UpdateMindMap.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/LoginResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/OperationFromServer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LoginRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LoginRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/MindSyncApplication.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/ExceptionMessage.kt
  AOS/app/src/main/res/drawable/btin_google_login_dark.xml
  AOS/app/src/main/res/drawable/btin_google_login_light.xml
  AOS/app/src/main/res/drawable/kakao_login_large_wide.png
  AOS/app/src/main/res/layout/activity_login.xml
  AOS/app/src/main/res/values/string-login.xml
  AOS/settings.gradle.kts
Labels: 📱AOS, 💡Feature, 🎨UI

#145 보드 관련 API
  .github/workflows/BE-deploy.yml
  nestjs-BE/server/package-lock.json
  nestjs-BE/server/package.json
  nestjs-BE/server/src/app.module.ts
  nestjs-BE/server/src/boards/boards.controller.ts
  nestjs-BE/server/src/boards/boards.module.ts
  nestjs-BE/server/src/boards/boards.service.ts
  nestjs-BE/server/src/boards/dto/create-board.dto.ts
  nestjs-BE/server/src/boards/dto/delete-board.dto.ts
  nestjs-BE/server/src/boards/dto/restore-board.dto.ts
  nestjs-BE/server/src/boards/dto/update-board.dto.ts
  nestjs-BE/server/src/boards/entities/board.entity.ts
  nestjs-BE/server/src/boards/schemas/board.schema.ts
  nestjs-BE/server/src/boards/swagger/boards.type.ts
  nestjs-BE/server/src/main.ts
Labels: 💻BE, 💡Feature

#158 스페이스, 프로필 이미지 업로드
  .github/workflows/BE-deploy.yml
  nestjs-BE/server/package-lock.json
  nestjs-BE/server/package.json
  nestjs-BE/server/src/app.module.ts
  nestjs-BE/server/src/config/magic-number.ts
  nestjs-BE/server/src/profiles/dto/create-profile.dto.ts
  nestjs-BE/server/src/profiles/dto/update-profile.dto.ts
  nestjs-BE/server/src/profiles/profiles.controller.ts
  nestjs-BE/server/src/profiles/profiles.module.ts
  nestjs-BE/server/src/spaces/spaces.controller.ts
  nestjs-BE/server/src/spaces/spaces.module.ts
  nestjs-BE/server/src/temporary-database/temporary-database.service.ts
  nestjs-BE/server/src/upload/upload.module.ts
  nestjs-BE/server/src/upload/upload.service.spec.ts
  nestjs-BE/server/src/upload/upload.service.ts
Labels: 💻BE, 💡Feature

#164 kakaoUserId 타입 String -> Long으로 변경
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/KakaoLoginRequest.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LoginRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LoginRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginViewModel.kt
Labels: 📱AOS, 💪Refactor

#170 fix(#135): 유저 확인 못하는 버그 수정
  nestjs-BE/server/src/profiles/profiles.controller.ts
Labels: 💻BE, 🔨Fix

#166 닉네임 수정 및 이미지 변경
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditNickNameDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditNickNameInterface.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileUiEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileViewModel.kt
  AOS/app/src/main/res/layout/activity_profile.xml
  AOS/app/src/main/res/layout/dialog_edit_profile.xml
  AOS/app/src/main/res/navigation/nav_graph.xml
  AOS/app/src/main/res/values/strings-profile.xml
  AOS/app/src/main/res/values/strings.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#173 Login Token 작업 (Token 저장, Interceptor, Authenticator)
  AOS/app/build.gradle.kts
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/ApiModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/DataStoreModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/NetworkConst.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/NetworkModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/RepositoryModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/AccessTokenInterceptor.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/TokenApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/TokenAuthenticator.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/NewAccessTokenRequest.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/NewAccessTokenResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/DataStoreConst.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/TokenRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/TokenRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginViewModel.kt
Labels: 📱AOS, 💡Feature

#172 마인드맵 json으로 직렬화, 역직렬화
  nestjs-BE/server/src/crdt/clock.ts
  nestjs-BE/server/src/crdt/crdt-tree.ts
  nestjs-BE/server/src/crdt/node.ts
  nestjs-BE/server/src/crdt/operation.ts
  nestjs-BE/server/src/crdt/tree.ts
Labels: 💻BE, 💡Feature

#177 스페이스 참여 API 적용 (가입하기 미구현)
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Space.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/SpaceApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/space/SpaceRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/space/SpaceRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/AddInviteSpaceActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/AddInviteSpaceViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/ConfirmInviteSpaceFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/ConfirmInviteSpaceViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/InputSpaceCodeFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/InputSpaceCodeViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/SpaceEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/SpaceUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/ExceptionMessage.kt
  AOS/app/src/main/res/layout/activity_add_invite_space.xml
  AOS/app/src/main/res/layout/activity_add_space.xml
  AOS/app/src/main/res/layout/fragment_confirm_invite_space.xml
  AOS/app/src/main/res/layout/fragment_input_space_code.xml
  AOS/app/src/main/res/navigation/nav_add_space_graph.xml
  AOS/app/src/main/res/values/strings-space.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#178 프로필 이미지, 닉네임 저장 및 프로필 이미지 설정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/ApiModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Profile.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/ProfileApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/ProfileResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/profile/ProfileRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/profile/ProfileRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainUiEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/ExceptionMessage.kt
  AOS/app/src/main/res/layout/activity_main.xml
  AOS/app/src/main/res/layout/activity_profile.xml
  AOS/app/src/main/res/layout/navigation_drawer_side_bar.xml
  AOS/app/src/main/res/values/strings-profile.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#187 스페이스 초대 코드 구현
  .github/workflows/BE-deploy.yml
  nestjs-BE/server/prisma/migrations/20231206083732_init/migration.sql
  nestjs-BE/server/prisma/mysql.schema.prisma
  nestjs-BE/server/src/app.module.ts
  nestjs-BE/server/src/auth/auth.controller.ts
  nestjs-BE/server/src/auth/auth.module.ts
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/auth/constants.ts
  nestjs-BE/server/src/auth/dto/refresh-token.dto.ts
  nestjs-BE/server/src/auth/jwt.strategy.ts
  nestjs-BE/server/src/base/base.service.ts
  nestjs-BE/server/src/config/magic-number.ts
  nestjs-BE/server/src/invite-codes/dto/create-invite-code.dto.ts
  nestjs-BE/server/src/invite-codes/invite-codes.controller.ts
  nestjs-BE/server/src/invite-codes/invite-codes.module.ts
  nestjs-BE/server/src/invite-codes/invite-codes.service.ts
  nestjs-BE/server/src/profiles/profiles.service.ts
  nestjs-BE/server/src/temporary-database/temporary-database.service.ts
Labels: 💻BE, 💡Feature

#189 보드 입장 시 트리 데이터 보내기
  nestjs-BE/server/src/app.module.ts
  nestjs-BE/server/src/board-trees/board-trees.gateway.ts
  nestjs-BE/server/src/board-trees/board-trees.module.ts
  nestjs-BE/server/src/board-trees/board-trees.service.ts
  nestjs-BE/server/src/board-trees/schemas/board-tree.schema.ts
  nestjs-BE/server/src/crdt/crdt-tree.ts
Labels: 💻BE, 💡Feature

#186 Space 패키지 분리 및 Uistate 적용
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/SpaceUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/generate/AddSpaceActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/generate/AddSpaceViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/AddInviteSpaceActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/ConfirmInviteSpaceFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/ConfirmInviteSpaceViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/InputSpaceCodeFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/InputSpaceCodeViewModel.kt
  AOS/app/src/main/res/layout/activity_add_invite_space.xml
  AOS/app/src/main/res/layout/activity_add_space.xml
  AOS/app/src/main/res/layout/fragment_confirm_invite_space.xml
  AOS/app/src/main/res/layout/fragment_input_space_code.xml
  AOS/app/src/main/res/navigation/nav_add_space_graph.xml
  AOS/app/src/main/res/navigation/nav_graph.xml
Labels: 📱AOS, 💪Refactor, 🎨UI

#191 gallery 및 저장공간 권한 관련 리팩토링
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/ImagePickerHandler.kt
Labels: 📱AOS, 💪Refactor

#192 CrdtTree의 프로퍼티를 현재 사용 현황에 따라 private, private set 설정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/CrdtTree.kt
Labels: 📱AOS, 💪Refactor

#193 CrdtTree에서 tree private set 제거
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/CrdtTree.kt
Labels: 📱AOS, 💪Refactor

#195 operation이 들어오면 트리에 적용
  nestjs-BE/server/src/board-trees/board-trees.gateway.ts
  nestjs-BE/server/src/board-trees/board-trees.service.ts
Labels: 💻BE, 💡Feature

#198 회원 로직 변경 및 프로필 변경
  nestjs-BE/server/prisma/migrations/20231206093559_init/migration.sql
  nestjs-BE/server/prisma/mysql.schema.prisma
  nestjs-BE/server/src/auth/auth.controller.ts
  nestjs-BE/server/src/auth/auth.module.ts
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/auth/dto/refresh-token.dto.ts
  nestjs-BE/server/src/base/base.service.ts
  nestjs-BE/server/src/invite-codes/dto/create-invite-code.dto.ts
  nestjs-BE/server/src/invite-codes/invite-codes.controller.ts
  nestjs-BE/server/src/profiles/profiles.controller.ts
  nestjs-BE/server/src/profiles/profiles.module.ts
  nestjs-BE/server/src/profiles/profiles.service.ts
  nestjs-BE/server/src/spaces/spaces.controller.ts
  nestjs-BE/server/src/users/entities/user.entity.ts
  nestjs-BE/server/src/users/users.controller.spec.ts
  nestjs-BE/server/src/users/users.controller.ts
  nestjs-BE/server/src/users/users.module.ts
  nestjs-BE/server/src/users/users.service.ts
  nestjs-BE/server/src/utils/interface.ts
Labels: 💻BE, 🔨Fix

#199 트리 toJSON 함수 변경
  nestjs-BE/server/src/crdt/tree.ts
Labels: 💻BE, 💡Feature

#204 로그인, AccessToken 응답 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/TokenAuthenticator.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/LoginResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/NewAccessTokenResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LoginRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LoginRepositoryImpl.kt
Labels: 📱AOS, 💪Refactor

#206 updateMindmap 이벤트 수정
  nestjs-BE/server/src/board-trees/board-trees.gateway.ts
Labels: 💻BE, 🔨Fix

#208 스페이스 에러 처리
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/base/base.service.ts
  nestjs-BE/server/src/invite-codes/invite-codes.service.ts
  nestjs-BE/server/src/profile-space/profile-space.service.ts
  nestjs-BE/server/src/spaces/spaces.controller.ts
Labels: 💻BE, 🔨Fix

#205 logout 이벤트 발생을 flow로 수정, BaseViewModel 추가
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/AccessTokenInterceptor.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/TokenAuthenticator.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/login/LogoutEventRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/base/BaseActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/base/BaseActivityViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/base/ViewEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/login/LoginViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/generate/AddSpaceActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/generate/AddSpaceViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/AddInviteSpaceActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/AddInviteSpaceViewModel.kt
Labels: 📱AOS, 💡Feature

#211 보드 API 형식에 맞춰서 응답 데이터 보내기
  nestjs-BE/server/src/boards/boards.controller.ts
  nestjs-BE/server/src/boards/boards.service.ts
  nestjs-BE/server/src/boards/swagger/boards.type.ts
Labels: 💻BE, 🔨Fix

#215 회전 후 다이얼로그에서 확인 버튼 클릭 시 앱이 종료되는 오류 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/ProfileApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/ProfileData.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/profile/ProfileRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/profile/ProfileRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditNickNameDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileViewModelFactory.kt
  AOS/app/src/main/res/layout/activity_profile.xml
  AOS/app/src/main/res/layout/dialog_edit_profile.xml
  AOS/app/src/main/res/layout/fragment_profile.xml
  AOS/app/src/main/res/navigation/nav_profile.xml
Labels: 📱AOS, 🚨Bug, 🎨UI

#218 마인드맵 API 적용
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/CrdtTree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/Operation.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/MindMapSocketManager.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/mindmap/SerializedCrdtTree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileActivity.kt
Labels: 📱AOS, 💡Feature

#219 보드 목록, 보드 생성
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/di/ApiModule.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Board.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/BoardApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/board/CreateBoardRequest.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/board/BoardsResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/board/CreateBoardResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardUiEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/CreateBoardDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/CreateBoardViewModel.kt
  AOS/app/src/main/res/layout/dialog_create_board.xml
  AOS/app/src/main/res/layout/fragment_board_list.xml
  AOS/app/src/main/res/layout/item_board.xml
  AOS/app/src/main/res/navigation/nav_graph.xml
  AOS/app/src/main/res/values/strings.xml
Labels: 📱AOS, 🎨UI

#223 스페이스, 보드, 마인드맵 연결
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/mindmap/SerializedCrdtTree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/InviteUserDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
Labels: 📱AOS, 💡Feature, 🔨Fix, 💪Refactor

#225 mindmap 회전시 operation 두번 발생되는 문제 해결
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/res/layout/fragment_board_list.xml
Labels: 📱AOS, 🎨UI

#230 0.3.2 버전 피드백 적용 및 버그 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/BoardApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/board/CreateBoardResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/CreateBoardDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/CreateBoardViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainBindingAdpater.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileUiEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/BindingAdapter.kt
  AOS/app/src/main/res/layout/item_board.xml
  AOS/app/src/main/res/layout/item_space.xml
  AOS/app/src/main/res/layout/item_spaces.xml
  AOS/app/src/main/res/layout/navigation_drawer_side_bar.xml
Labels: 📱AOS, 💡Feature, 💪Refactor, 🎨UI

#238 버그 픽스 및 불필요 코드 삭제
  .github/workflows/BE-deploy.yml
  nestjs-BE/server/Dockerfile
  nestjs-BE/server/src/profile-space/profile-space.service.ts
  nestjs-BE/server/src/spaces/spaces.controller.ts
  nestjs-BE/server/src/temporary-database/temporary-database.service.ts
Labels: 💻BE, 🔨Fix

#241 export 변경 파일 추가
  nestjs-BE/server/src/auth/auth.service.ts
Labels: 💻BE, 🔨Fix

#235 스페이스 나가기 기능 구현
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/ProfileSpaceApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/profilespace/ProfileSpaceRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/profilespace/ProfileSpaceRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainUiEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainViewModel.kt
  AOS/app/src/main/res/values/strings-space.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#242 마인드맵 보드 저장
  nestjs-BE/server/src/board-trees/board-trees.gateway.ts
  nestjs-BE/server/src/board-trees/board-trees.service.ts
Labels: 💻BE, 💡Feature

#243 보드 기본 이미지 설정
  nestjs-BE/server/src/boards/boards.controller.ts
Labels: 💻BE, 🔨Fix

#239 RootNode가 이동 상태가 되는 버그 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
Labels: 📱AOS, 💡Feature, 🔨Fix

#240 AccessToken 갱신 오류 해결하기
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/TokenAuthenticator.kt
Labels: 📱AOS, 🔨Fix

#246 EditText enabeld 및 닉네임을 다이얼로그 EditText에 설정
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileViewModel.kt
  AOS/app/src/main/res/layout/activity_add_space.xml
  AOS/app/src/main/res/layout/dialog_create_board.xml
  AOS/app/src/main/res/layout/dialog_edit_profile.xml
  AOS/app/src/main/res/layout/fragment_input_space_code.xml
  AOS/app/src/main/res/layout/fragment_profile.xml
  AOS/app/src/main/res/values/strings-space.xml
  AOS/app/src/main/res/values/themes.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#244 스페이스 만들 때 이미지를 안넣어도 만들어지도록 함
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/space/SpaceRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/space/SpaceRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/generate/AddSpaceViewModel.kt
  AOS/app/src/main/res/layout/dialog_add_space.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#248 Response 유틸 생성
  nestjs-BE/server/src/auth/auth.controller.ts
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/base/base.service.ts
  nestjs-BE/server/src/invite-codes/invite-codes.service.ts
  nestjs-BE/server/src/profile-space/profile-space.controller.ts
  nestjs-BE/server/src/profile-space/profile-space.service.ts
  nestjs-BE/server/src/temporary-database/temporary-database.service.ts
  nestjs-BE/server/src/utils/response.ts
Labels: 💻BE, 🔨Fix

#254 노드 모서리를 둥근 형태로 변경
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
Labels: 📱AOS, 🎨UI

#261 다크모드 적용
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/model/DrawInfo.kt
  AOS/app/src/main/res/drawable-night/bg_round_board.xml
  AOS/app/src/main/res/drawable-night/bg_round_dialog.xml
  AOS/app/src/main/res/drawable-night/ic_add.xml
  AOS/app/src/main/res/drawable-night/ic_back.xml
  AOS/app/src/main/res/drawable-night/ic_banned_remove.xml
  AOS/app/src/main/res/drawable-night/ic_fold.xml
  AOS/app/src/main/res/drawable-night/ic_menu.xml
  AOS/app/src/main/res/drawable-night/ic_outlined_drawing.xml
  AOS/app/src/main/res/drawable-night/ic_remove.xml
  AOS/app/src/main/res/values-night/colors.xml
  AOS/app/src/main/res/values-night/themes.xml
Labels: 📱AOS, 🎨UI

#256 throttleFirst 적용하기
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/CreateBoardDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/InviteUserDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/profile/ProfileFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/generate/AddSpaceActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/FlowExtension.kt
  AOS/app/src/main/res/layout/activity_add_space.xml
  AOS/app/src/main/res/layout/dialog_create_board.xml
  AOS/app/src/main/res/layout/fragment_mind_map.xml
Labels: 📱AOS, 💡Feature, 🔨Fix

#264 뒤로 가기 동작 개선
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
Labels: 📱AOS

#265 space list 에서 dark mode layout 의 visibility 설정
  AOS/app/src/main/res/layout-night/fragment_space_list.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#267 보드 생성, 삭제 api 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/board/DeleteBoardResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/CreateBoardDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/CreateBoardViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/res/layout/dialog_create_board.xml
  AOS/app/src/main/res/values/strings-board.xml
Labels: 📱AOS, 💡Feature, 🔨Fix, 🎨UI

#268 fix(#212): 버그 픽스
  nestjs-BE/server/src/profile-space/profile-space.service.ts
Labels: 💻BE, 🔨Fix

#270 보드 새로고침 버튼 추가
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainViewModel.kt
  AOS/app/src/main/res/layout/fragment_board_list.xml
Labels: 📱AOS, 🎨UI

#271 Space에서 안나가지는 버그 수정
  nestjs-BE/server/prisma/migrations/20231212055716_init/migration.sql
  nestjs-BE/server/prisma/mysql.schema.prisma
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/base/base.service.ts
  nestjs-BE/server/src/profile-space/profile-space.controller.ts
  nestjs-BE/server/src/temporary-database/temporary-database.service.ts
Labels: 💻BE, 🔨Fix

#273 앱 디자인 수정 및 토스트 메시지 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/InputSpaceCodeFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/space/join/InputSpaceCodeViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/ExceptionMessage.kt
  AOS/app/src/main/res/layout/activity_main.xml
  AOS/app/src/main/res/layout/fragment_space_list.xml
  AOS/app/src/main/res/layout/navigation_drawer_side_bar.xml
  AOS/app/src/main/res/values/strings-board.xml
  AOS/app/src/main/res/values/strings-sidebar.xml
  AOS/app/src/main/res/values/strings.xml
Labels: 📱AOS, 💪Refactor, 🎨UI

#276 스페이스 나갔다 다시 들어올 경우 대비 하여 코드 수정
  nestjs-BE/server/src/base/base.service.ts
Labels: 💻BE, 🔨Fix

#277 fix: 보드 이름으로 루트 노드 내용 생성
  nestjs-BE/server/src/board-trees/board-trees.gateway.ts
  nestjs-BE/server/src/board-trees/board-trees.service.ts
Labels: 💻BE, 🔨Fix

#275 Board 삭제,목록불러오기 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepositoryImpl.kt
  AOS/app/src/main/res/layout/item_board.xml
Labels: 📱AOS, 🔨Fix

#281 화면이 가로일 때 잘리는 부분 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/AddSpaceDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/InviteUserDialog.kt
  AOS/app/src/main/res/layout/activity_add_space.xml
  AOS/app/src/main/res/layout/dialog_create_board.xml
  AOS/app/src/main/res/layout/fragment_confirm_invite_space.xml
  AOS/app/src/main/res/layout/fragment_input_space_code.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#283 Tree Serialized 리팩토링
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/CrdtTree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/Operation.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/MindMapSocketManager.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/JoinBoard.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/UpdateMindMap.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/OperationFromServer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/mindmap/SerializedCrdtMapper.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/mindmap/SerializedCrdtTree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/res/navigation/nav_graph.xml
Labels: 📱AOS, 💪Refactor

#284 휴지통 화면, 보드 복구 API, 루트노드 일치화
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/BoardApi.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/request/board/RestoreBoardRequest.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/board/RestoreBoardResponse.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepository.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/repository/boardlist/BoardListRepositoryImpl.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListAdapter.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/boardlist/BoardListViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinUiEvent.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinUiState.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinViewModel.kt
  AOS/app/src/main/res/drawable/ic_refresh_board.xml
  AOS/app/src/main/res/layout/fragment_board_list.xml
  AOS/app/src/main/res/layout/fragment_recycle_bin.xml
  AOS/app/src/main/res/layout/item_recycle_board.xml
  AOS/app/src/main/res/navigation/nav_graph.xml
  AOS/app/src/main/res/values/strings-board.xml
Labels: 📱AOS, 💡Feature, 💪Refactor, 🎨UI

#285 release 후 발견한 오류 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/network/response/mindmap/SerializedCrdtTree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/res/layout-night/fragment_space_list.xml
  AOS/app/src/main/res/layout/activity_add_space.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#287 0.3.4 버그 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/NodePath.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDescriptionDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/main/MainViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModelFactory.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinAdapter.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinBindingAdpater.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinClickListener.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/recyclebin/RecycleBinFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/DensityUtils.kt
  AOS/app/src/main/res/layout/fragment_recycle_bin.xml
  AOS/app/src/main/res/navigation/nav_graph.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#289 보드 이름 중복 확인 안하기
  nestjs-BE/server/src/boards/boards.controller.ts
  nestjs-BE/server/src/boards/boards.service.ts
  nestjs-BE/server/src/boards/swagger/boards.type.ts
Labels: 💻BE, 🔨Fix

#288 불필요 코드 삭제 및 private 적용
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/base/base.service.ts
  nestjs-BE/server/src/profile-space/profile-space.controller.ts
  nestjs-BE/server/src/profile-space/profile-space.service.ts
  nestjs-BE/server/src/spaces/spaces.controller.ts
  nestjs-BE/server/src/temporary-database/temporary-database.service.ts
Labels: 💻BE, 🔨Fix

#298 보드 이름 최대 길이 추가
  nestjs-BE/server/src/boards/dto/create-board.dto.ts
  nestjs-BE/server/src/config/magic-number.ts
Labels: 💻BE, 💡Feature

#299 네임 최대 길이 설정 및 스키마 변경
  nestjs-BE/server/prisma/migrations/20231213081134_init/migration.sql
  nestjs-BE/server/prisma/mysql.schema.prisma
  nestjs-BE/server/src/auth/auth.service.ts
  nestjs-BE/server/src/profiles/dto/create-profile.dto.ts
  nestjs-BE/server/src/spaces/dto/create-space.dto.ts
Labels: 💻BE, 🔨Fix

#291 Space 백스택 버그 해결
  AOS/app/src/main/res/navigation/nav_graph.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#294 노드 편집 시 기존 내용 보이게 적용
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDescriptionDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/res/layout/dialog_edit_description.xml
  AOS/app/src/main/res/values/strings-mindmap.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#295 스페이스,보드,유저 글자 수 크기 대응
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditNickNameDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/BindingAdapter.kt
  AOS/app/src/main/res/layout/activity_add_space.xml
  AOS/app/src/main/res/layout/dialog_create_board.xml
  AOS/app/src/main/res/layout/dialog_edit_profile.xml
  AOS/app/src/main/res/layout/fragment_confirm_invite_space.xml
  AOS/app/src/main/res/layout/fragment_profile.xml
  AOS/app/src/main/res/layout/item_board.xml
  AOS/app/src/main/res/layout/item_recycle_board.xml
  AOS/app/src/main/res/layout/item_spaces.xml
  AOS/app/src/main/res/layout/navigation_drawer_side_bar.xml
  AOS/app/src/main/res/values/strings-board.xml
  AOS/app/src/main/res/values/strings-profile.xml
  AOS/app/src/main/res/values/strings-space.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#297 사이드바 유저목록 디자인 수정
  AOS/app/src/main/res/layout/item_users.xml
Labels: 📱AOS, 💪Refactor, 🎨UI

#302 루트 노드 텍스트 대응
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
Labels: 📱AOS, 🔨Fix

#300 CRDT Tree 테스트 코드 작성
  nestjs-BE/server/src/crdt/clock.spec.ts
  nestjs-BE/server/src/crdt/crdt-tree.spec.ts
  nestjs-BE/server/src/crdt/node.spec.ts
Labels: 💻BE, 💬Test

#305 마인드맵 데이터 공유 버그 해결
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
Labels: 📱AOS, 🔨Fix

#303 트리 순환 막기
  nestjs-BE/server/src/crdt/crdt-tree.spec.ts
  nestjs-BE/server/src/crdt/operation.ts
  nestjs-BE/server/src/crdt/tree.spec.ts
  nestjs-BE/server/src/crdt/tree.ts
Labels: 💻BE, 💡Feature, 💬Test

#310 MindMapViewModel을 navGraphViewModels로 사용하게 되는 문제 해결
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDescriptionDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDescriptionViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDialogInterface.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditNickNameInterface.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/res/layout/dialog_edit_description.xml
Labels: 📱AOS, 🔨Fix, 💪Refactor, 🎨UI
