Repository boostcampwm2023/and07-MindSync, pull requests merged in 2023-11, with the labels that each got.

#26 안드로이드 개발 환경 설정하기
  AOS/.gitignore
  AOS/.idea/.gitignore
  AOS/.idea/.name
  AOS/.idea/compiler.xml
  AOS/.idea/gradle.xml
  AOS/.idea/kotlinc.xml
  AOS/.idea/vcs.xml
  AOS/app/.gitignore
  AOS/app/build.gradle.kts
  AOS/app/proguard-rules.pro
  AOS/app/src/androidTest/java/boostcamp/and07/mindsync/ExampleInstrumentedTest.kt
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/MainActivity.kt
  AOS/app/src/main/res/drawable/ic_launcher_background.xml
  AOS/app/src/main/res/drawable/ic_launcher_foreground.xml
  AOS/app/src/main/res/layout/activity_main.xml
  AOS/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  AOS/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  AOS/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  AOS/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  AOS/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  AOS/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  AOS/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  AOS/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  AOS/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  AOS/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  AOS/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  AOS/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  AOS/app/src/main/res/values-night/themes.xml
  AOS/app/src/main/res/values/colors.xml
  AOS/app/src/main/res/values/strings.xml
  AOS/app/src/main/res/values/themes.xml
  AOS/app/src/main/res/xml/backup_rules.xml
  AOS/app/src/main/res/xml/data_extraction_rules.xml
  AOS/app/src/test/java/boostcamp/and07/mindsync/ExampleUnitTest.kt
  AOS/build.gradle.kts
  AOS/gradle.properties
  AOS/gradle/wrapper/gradle-wrapper.jar
  AOS/gradle/wrapper/gradle-wrapper.properties
  AOS/gradlew
  AOS/gradlew.bat
  AOS/settings.gradle.kts
Labels: 📱AOS, 📂Chore, ⚙️Setting

#30 글꼴, 색상 설정
  AOS/app/src/main/res/font/pretendard_bold.otf
  AOS/app/src/main/res/font/pretendard_light.otf
  AOS/app/src/main/res/font/pretendard_medium.otf
  AOS/app/src/main/res/font/pretendard_regular.otf
  AOS/app/src/main/res/font/pretendard_semi_bold.otf
  AOS/app/src/main/res/values/colors.xml
  AOS/app/src/main/res/values/typograpy.xml
Labels: 📱AOS, 🎨UI

#32 아이콘 추가
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/ic_app_logo-playstore.png
  AOS/app/src/main/res/drawable-hdpi/ic_add_space.png
  AOS/app/src/main/res/drawable-mdpi/ic_add_space.png
  AOS/app/src/main/res/drawable-xhdpi/ic_add_space.png
  AOS/app/src/main/res/drawable-xxhdpi/ic_add_space.png
  AOS/app/src/main/res/drawable-xxxhdpi/ic_add_space.png
  AOS/app/src/main/res/drawable/ic_add.xml
  AOS/app/src/main/res/drawable/ic_app_logo_foreground.xml
  AOS/app/src/main/res/drawable/ic_back.xml
  AOS/app/src/main/res/drawable/ic_delete_board.xml
  AOS/app/src/main/res/drawable/ic_draw.xml
  AOS/app/src/main/res/drawable/ic_erase.xml
  AOS/app/src/main/res/drawable/ic_fold.xml
  AOS/app/src/main/res/drawable/ic_gallery.xml
  AOS/app/src/main/res/drawable/ic_menu.xml
  AOS/app/src/main/res/drawable/ic_more.xml
  AOS/app/src/main/res/drawable/ic_outlined_drawing.xml
  AOS/app/src/main/res/drawable/ic_redo.xml
  AOS/app/src/main/res/drawable/ic_restore_board.xml
  AOS/app/src/main/res/drawable/ic_undo.xml
  AOS/app/src/main/res/mipmap-anydpi-v26/ic_app_logo.xml
  AOS/app/src/main/res/mipmap-anydpi-v26/ic_app_logo_round.xml
  AOS/app/src/main/res/mipmap-hdpi/ic_app_logo.webp
  AOS/app/src/main/res/mipmap-hdpi/ic_app_logo_round.webp
  AOS/app/src/main/res/mipmap-mdpi/ic_app_logo.webp
  AOS/app/src/main/res/mipmap-mdpi/ic_app_logo_round.webp
  AOS/app/src/main/res/mipmap-xhdpi/ic_add_space_2.png
  AOS/app/src/main/res/mipmap-xhdpi/ic_app_logo.webp
  AOS/app/src/main/res/mipmap-xhdpi/ic_app_logo_round.webp
  AOS/app/src/main/res/mipmap-xxhdpi/ic_add_space_3.png
  AOS/app/src/main/res/mipmap-xxhdpi/ic_app_logo.webp
  AOS/app/src/main/res/mipmap-xxhdpi/ic_app_logo_round.webp
  AOS/app/src/main/res/mipmap-xxxhdpi/ic_app_logo.webp
  AOS/app/src/main/res/mipmap-xxxhdpi/ic_app_logo_round.webp
  AOS/app/src/main/res/values/ic_app_logo_background.xml
Labels: 📱AOS, 🎨UI

#33 BaseFragment, BaseActivity 추가
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/base/BaseActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/base/BaseFragment.kt
Labels: 📱AOS

#35 Node 데이터 클래스 만들기
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/ColorRGB.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/NodePath.kt
Labels: 📱AOS

#29 백엔드 초기 설정
  nestjs-BE/.eslintrc.js
  nestjs-BE/.gitignore
  nestjs-BE/.prettierrc
  nestjs-BE/README.md
  nestjs-BE/nest-cli.json
  nestjs-BE/package-lock.json
  nestjs-BE/package.json
  nestjs-BE/src/app.controller.spec.ts
  nestjs-BE/src/app.controller.ts
  nestjs-BE/src/app.module.ts
  nestjs-BE/src/app.service.ts
  nestjs-BE/src/main.ts
  nestjs-BE/test/app.e2e-spec.ts
  nestjs-BE/test/jest-e2e.json
  nestjs-BE/tsconfig.build.json
  nestjs-BE/tsconfig.json
Labels: 💻BE, ⚙️Setting

#36 Line 데이터 구조 클래스 만들기
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Line.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/LinePath.kt
Labels: 📱AOS, 💡Feature

#37 NodeView 기본 구조 구현
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/SampleNode.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/ColorRGB.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/NodePath.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/DensityUtils.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/res/layout/activity_main.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#38 Line 그리기 및 Node와 연결
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/SampleNode.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Line.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/LinePath.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/DensityUtils.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/res/layout/activity_main.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#40 feat: yjs 패키지를 통한 서버 데이터 통신
  nestjs-BE/package-lock.json
  nestjs-BE/package.json
  nestjs-BE/src/app.module.ts
  nestjs-BE/src/board/board.gateway.ts
  nestjs-BE/src/mindmap/mindmap.service.ts
Labels: 💻BE, 💡Feature

#42 auto labeler에 BE 폴더 추가
  .github/labeler.yml
Labels: 💻BE, ⚙️Setting

#43 간단한 crdt map자료구조 기능 구현
  nestjs-BE/crdt/lww-map.ts
  nestjs-BE/crdt/lww-register.ts
  nestjs-BE/package-lock.json
  nestjs-BE/package.json
  nestjs-BE/src/mindmap/mindmap.service.ts
Labels: 💻BE, 💡Feature

#41 depth에 따른 노드 색 구현, 불필요한 코드 제거
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/SampleNode.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/ColorRGB.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/res/values/colors.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#44 서버 배포 자동화
  .github/workflows/BE-deploy.yml
  nestjs-BE/.dockerignore
  nestjs-BE/Dockerfile
Labels: 💻BE, ⚙️Setting

#45 배포 자동화 수정
  .github/workflows/BE-deploy.yml
Labels: ⚙️Setting

#46 배포 자동화 오탈자 수정
  .github/workflows/BE-deploy.yml
Labels: ⚙️Setting

#48 화면 확대/축소 및 드래그 구현
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/ZoomLayout.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/model/LayoutMode.kt
Labels: 📱AOS, 💡Feature

#49 노드 정렬 알고리즘(LayoutManager)구현, 리팩토링
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/SampleNode.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/DensityUtils.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MindmapLayoutManager.kt
Labels: 📱AOS, 💡Feature, 💪Refactor

#66 마인드맵 텍스트 크기 자동화
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDescriptionDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDialogInterface.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/res/anim/dialog_close.xml
  AOS/app/src/main/res/anim/dialog_open.xml
  AOS/app/src/main/res/drawable/bg_round_dialog.xml
  AOS/app/src/main/res/layout/dialog_edit_description.xml
  AOS/app/src/main/res/values/anim_style.xml
  AOS/app/src/main/res/values/colors.xml
Labels: 📱AOS, 💡Feature, 🎨UI

#67 마인드맵 화면 구성
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindmapFragment.kt
  AOS/app/src/main/res/drawable/ic_remove.xml
  AOS/app/src/main/res/layout/activity_main.xml
  AOS/app/src/main/res/layout/fragment_mindmap.xml
  AOS/app/src/main/res/navigation/nav_graph.xml
Labels: 📱AOS, 🎨UI

#68 fragment_mindmap.xml에서 잘못된 constraint 위치 조정
  AOS/app/src/main/res/layout/fragment_mindmap.xml
Labels: 📱AOS, 🔨Fix, 🎨UI

#69 Line 곡선 그리기 및 Node의 크기 변화에 따른 라인 그리기
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/MindmapContainer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/ZoomLayout.kt
Labels: 📱AOS, 💡Feature, 🔨Fix

#72 AOS-ktlint 적용 브랜치 변경
  .github/workflows/AOS-ktlint.yml
Labels: 📱AOS, 📂Chore

#74 LineView에서 불필요한 부분 정리 및 NodeView에서 수정된 Head 정보 업데이트 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/res/layout/fragment_mindmap.xml
Labels: 📱AOS, 💪Refactor, 🎨UI

#75 노드 삭제,추가,편집
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/IdGenerator.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/NodeGenerator.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/SampleNode.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDescriptionDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapBindingAdapter.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindmapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/MindmapContainer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/ZoomLayout.kt
  AOS/app/src/main/res/drawable/btn_remove.xml
  AOS/app/src/main/res/drawable/ic_banned_remove.xml
  AOS/app/src/main/res/layout/fragment_mindmap.xml
Labels: 📱AOS, 💡Feature, 💪Refactor, 🎨UI

#78 커스텀뷰, MindmapContainer 리팩토링
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindmapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/MindmapContainer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/ZoomLayout.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/listener/NodeClickListener.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/listener/NodeUpdateListener.kt
Labels: 📱AOS, 💪Refactor

#80 화면 범위를 초과하는 노드 잘림 현상 수정
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindmapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/ZoomLayout.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MindmapLayoutManager.kt
Labels: 📱AOS, 🔨Fix

#83 마인드맵
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/IdGenerator.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/NodeGenerator.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/ColorRGB.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Line.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/LinePath.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/NodePath.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/MainActivity.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDescriptionDialog.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/dialog/EditDialogInterface.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapBindingAdapter.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/DensityUtils.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/MindMapContainer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/ZoomLayout.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MeasureTextSize.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MindMapRightLayoutManager.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/listener/NodeClickListener.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/listener/NodeUpdateListener.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/model/DrawInfo.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/model/LayoutMode.kt
  AOS/app/src/main/res/anim/dialog_close.xml
  AOS/app/src/main/res/anim/dialog_open.xml
  AOS/app/src/main/res/drawable/bg_round_dialog.xml
  AOS/app/src/main/res/drawable/btn_remove.xml
  AOS/app/src/main/res/drawable/ic_banned_remove.xml
  AOS/app/src/main/res/drawable/ic_remove.xml
  AOS/app/src/main/res/layout/activity_main.xml
  AOS/app/src/main/res/layout/dialog_edit_description.xml
  AOS/app/src/main/res/layout/fragment_mind_map.xml
  AOS/app/src/main/res/navigation/nav_graph.xml
  AOS/app/src/main/res/values/anim_style.xml
  AOS/app/src/main/res/values/colors.xml
Labels: 📱AOS, 💡Feature, 🔨Fix, 💪Refactor, 🎨UI

#84 ktlint action test
  AOS/app/build.gradle.kts
  AOS/build.gradle.kts
Labels: 📱AOS

#88 노드 간 중첩 현상 해결
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/MindMapContainer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MindMapRightLayoutManager.kt
Labels: 📱AOS, 🔨Fix

#91 노드 간 중첩 현상 해결
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/MindMapContainer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MindMapRightLayoutManager.kt
Labels: 📱AOS, 🔨Fix

#90 트리에 대한 CRDT 구현
  nestjs-BE/crdt/clock.ts
  nestjs-BE/crdt/crdt-tree.ts
  nestjs-BE/crdt/lww-map.ts
  nestjs-BE/crdt/lww-register.ts
  nestjs-BE/crdt/node.ts
  nestjs-BE/crdt/operation.ts
  nestjs-BE/crdt/tree.ts
  nestjs-BE/src/app.module.ts
  nestjs-BE/src/board/board.gateway.ts
  nestjs-BE/src/mindmap/mindmap.service.ts
Labels: 💻BE, 💡Feature

#89 cache 서버 구현
  nestjs-BE/cache-server/.eslintrc.js
  nestjs-BE/cache-server/.gitignore
  nestjs-BE/cache-server/.prettierrc
  nestjs-BE/cache-server/README.md
  nestjs-BE/cache-server/nest-cli.json
  nestjs-BE/cache-server/package-lock.json
  nestjs-BE/cache-server/package.json
  nestjs-BE/cache-server/prisma/schema.prisma
  nestjs-BE/cache-server/src/app.controller.spec.ts
  nestjs-BE/cache-server/src/app.controller.ts
  nestjs-BE/cache-server/src/app.module.ts
  nestjs-BE/cache-server/src/app.service.ts
  nestjs-BE/cache-server/src/base/base.service.ts
  nestjs-BE/cache-server/src/config/magic-number.ts
  nestjs-BE/cache-server/src/main.ts
  nestjs-BE/cache-server/src/prisma/prisma.module.ts
  nestjs-BE/cache-server/src/prisma/prisma.service.spec.ts
  nestjs-BE/cache-server/src/prisma/prisma.service.ts
  nestjs-BE/cache-server/src/profiles/dto/create-profile.dto.ts
  nestjs-BE/cache-server/src/profiles/dto/update-profile.dto.ts
  nestjs-BE/cache-server/src/profiles/entities/profile.entity.ts
  nestjs-BE/cache-server/src/profiles/profiles.controller.spec.ts
  nestjs-BE/cache-server/src/profiles/profiles.controller.ts
  nestjs-BE/cache-server/src/profiles/profiles.module.ts
  nestjs-BE/cache-server/src/profiles/profiles.service.spec.ts
  nestjs-BE/cache-server/src/profiles/profiles.service.ts
  nestjs-BE/cache-server/src/spaces/dto/create-space.dto.ts
  nestjs-BE/cache-server/src/spaces/dto/update-space.dto.ts
  nestjs-BE/cache-server/src/spaces/entities/space.entity.ts
  nestjs-BE/cache-server/src/spaces/spaces.controller.spec.ts
  nestjs-BE/cache-server/src/spaces/spaces.controller.ts
  nestjs-BE/cache-server/src/spaces/spaces.module.ts
  nestjs-BE/cache-server/src/spaces/spaces.service.spec.ts
  nestjs-BE/cache-server/src/spaces/spaces.service.ts
  nestjs-BE/cache-server/src/temporary-database/temporary-database.module.ts
  nestjs-BE/cache-server/src/temporary-database/temporary-database.service.spec.ts
  nestjs-BE/cache-server/src/temporary-database/temporary-database.service.ts
  nestjs-BE/cache-server/src/users/dto/create-user.dto.ts
  nestjs-BE/cache-server/src/users/dto/update-user.dto.ts
  nestjs-BE/cache-server/src/users/entities/user.entity.ts
  nestjs-BE/cache-server/src/users/users.controller.spec.ts
  nestjs-BE/cache-server/src/users/users.controller.ts
  nestjs-BE/cache-server/src/users/users.module.ts
  nestjs-BE/cache-server/src/users/users.service.spec.ts
  nestjs-BE/cache-server/src/users/users.service.ts
  nestjs-BE/cache-server/src/utils/lru-cache.ts
  nestjs-BE/cache-server/src/utils/uuid.ts
  nestjs-BE/cache-server/test/app.e2e-spec.ts
  nestjs-BE/cache-server/test/jest-e2e.json
  nestjs-BE/cache-server/tsconfig.build.json
  nestjs-BE/cache-server/tsconfig.json
Labels: 💻BE, 📂Chore, 📃Docs, 💡Feature

#107 변수 이름 변경, Node 클래스 구조 변경, children 자료구조 변경
  nestjs-BE/crdt/crdt-tree.ts
  nestjs-BE/crdt/node.ts
  nestjs-BE/crdt/operation.ts
  nestjs-BE/crdt/tree.ts
Labels: 💻BE, 🔨Fix

#114 마인드맵 보드 받은 데이터 그대로 보내기
  nestjs-BE/server/src/board/board.gateway.ts
Labels: 💻BE, 🔨Fix

#113 counter 값 비교 수정, mindmap 리팩토링
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/Clock.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/CrdtTree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/Operation.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Node.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Tree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/LineView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/MindMapContainer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/NodeView.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MeasureTextSize.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/layout/MindMapRightLayoutManager.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/listener/NodeUpdateListener.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/view/listener/TreeUpdateListener.kt
Labels: 📱AOS, 💡Feature, 🔨Fix, 💪Refactor

#115 JSON 문자열로 받도록 수정
  nestjs-BE/server/src/board/board.gateway.ts
Labels: 💻BE, 🔨Fix

#116 mongoDB 연결 및 boards 앱 생성
  nestjs-BE/cache-server/.gitignore
  nestjs-BE/cache-server/package-lock.json
  nestjs-BE/cache-server/package.json
  nestjs-BE/cache-server/prisma/mongodb.schema.prisma
  nestjs-BE/cache-server/prisma/mysql.schema.prisma
  nestjs-BE/cache-server/src/app.module.ts
  nestjs-BE/cache-server/src/base/base.service.ts
  nestjs-BE/cache-server/src/boards/boards.controller.spec.ts
  nestjs-BE/cache-server/src/boards/boards.controller.ts
  nestjs-BE/cache-server/src/boards/boards.module.ts
  nestjs-BE/cache-server/src/boards/boards.service.spec.ts
  nestjs-BE/cache-server/src/boards/boards.service.ts
  nestjs-BE/cache-server/src/boards/dto/create-board.dto.ts
  nestjs-BE/cache-server/src/boards/dto/update-board.dto.ts
  nestjs-BE/cache-server/src/boards/entities/board.entity.ts
  nestjs-BE/cache-server/src/config/magic-number.ts
  nestjs-BE/cache-server/src/config/swagger.ts
  nestjs-BE/cache-server/src/main.ts
  nestjs-BE/cache-server/src/prisma/prisma.module.ts
  nestjs-BE/cache-server/src/prisma/prisma.service.ts
  nestjs-BE/cache-server/src/profiles/profiles.service.ts
  nestjs-BE/cache-server/src/spaces/spaces.service.ts
  nestjs-BE/cache-server/src/temporary-database/temporary-database.service.ts
  nestjs-BE/cache-server/src/users/users.service.ts
Labels: 💻BE, 💡Feature

#117 실시간 양방향 통신 구현
  AOS/app/build.gradle.kts
  AOS/app/src/main/AndroidManifest.xml
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/Clock.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/Operation.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/network/MindMapSocketManager.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/network/request/JoinBoard.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/network/request/UpdateMindMap.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/network/response/OperationFromServer.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/build.gradle.kts
Labels: 📱AOS, 📂Chore, 💡Feature, 🎨UI

#119 마인드맵 실시간 양방향 그리기 구현
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/crdt/Operation.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/data/model/Tree.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/network/MindMapSocketManager.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapFragment.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/mindmap/MindMapViewModel.kt
  AOS/app/src/main/java/boostcamp/and07/mindsync/ui/util/ExceptionMessage.kt
Labels: 📱AOS, 💡Feature, 💪Refactor
